
.card.comments-list {
    background-color: rgba(0, 0, 0, 0.03);
}

.avatar {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    .reply & {
        width: 30px;
        height: 30px;
    }
}

.callout {
    padding: 10px 20px;
    margin: 15px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: $white;
    .comment-meta {
        display: inline-block;
        position: relative;
        top: -20px;
        font-size: 16px;
    }
    h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }
    p:last-child {
        margin-bottom: 0;
    }
    .content {
        font-size: 14px;
    }

}
@each $name, $color in (default, #777), (primary, #428bca), (success, #5cb85c),
    (danger, #d9534f), (warning, #f0ad4e), (info, #5bc0de), (bdc, #29527a)
{
    .callout-#{$name} {
        border-left-color: $color;
        h4 {
            color: $color;
        }
    }
}
